rect {
  shape-rendering: optimizeQuality;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#chart-mode-selector {
  padding-left: 80px;
}

#selector-ui {
	padding-top: 10px;
}